In [2]:
#importing needed library
import pandas as pd

In [3]:
#loading dataset
data = pd.read_csv('dataset.csv')

In [4]:
#copying dataset to other object 
#if needed we can compare and check our change
df = data.copy()

In [5]:
#Displaying dataset few records
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141.0,360.0,1.0,Urban,Y

In [6]:
#get count of unique value
df.Dependents.nunique()

4

In [9]:
df.Gender.nunique()

2

In [6]:
#get unique values
df.Dependents.unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [10]:
df.Gender.unique()

array(['Male', 'Female', nan], dtype=object)

In [7]:
#finding  value using query function
df.query("Dependents == '3+'")

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504,158.0,360.0,0.0,Semiurban,N
9,LP001100,Male,No,3+,Graduate,No,12500,3000,320.0,360.0,1.0,Rural,N
18,LP001206,Male,Yes,3+,Graduate,No,3029,0,99.0,360.0,1.0,Urban,Y
25,LP001238,Male,Yes,3+,Not Graduate,Yes,7100,0,125.0,60.0,1.0,Urban,Y
30,LP001250,Male,Yes,3+,Not Graduate,No,4755,0,95.0,NaN,0.0,Semiurban,N
31,LP001253,Male,Yes,3+,Graduate,Yes,5266,1774,187.0,360.0,1.0,Semiurban,Y
35,LP001263,Male,Yes,3+,Graduate,No,3167,4000,180.0,300.0,0.0,Semiurban,N
36,LP001264,Male,Yes,3+,Not Graduate,Yes,3333,2166,130.0,360.0,NaN,Semiurban,Y
52,LP001384,Male,Yes,3+,Not Graduate,No,2071,754,94.0,480.0,1.0,Semiurban,Y
69,LP001448,NaN,Yes,3+,Graduate,No,23803,0,370.0,360.0,1.0,Rural,Y
78,LP001488,Male,Yes,3+,Graduate,No,4000,7750,290.0,360.0,1.0,Semiurban,N
83,LP001536,Male,Yes,3+,Graduate,No,39999,0,600.0,180.0,0.0,Semiurban,Y
99,LP001585,NaN,Yes,3+,Graduate,No,51763,0,700.0,300.0,1.0,Urban,Y
100,LP001586,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural,N
105,LP001610,Male,Yes,3+,Graduate,No,5516,11300,495.0,360.0,0.0,Semiurban,N
111,LP001682,Male,Yes,3+,Not Graduate,No,3992,0,NaN,180.0,1.0,Urban,N
120,LP001711,Male,Yes,3+,Graduate,No,3430,1250,128.0,360.0,0.0,Semiurban,N
122,LP001715,Male,Yes,3+,Not Graduate,Yes,5703,0,130.0,360.0,1.0,Rural,Y
124,LP001720,Male,Yes,3+,Not Graduate,No,3850,983,100.0,360.0,1.0,Semiurban,Y
129,LP001864,Male,Yes,3+,Not Graduate,No,4931,0,128.0,360.0,NaN,Semiurban,N
137,LP001882,Male,Yes,3+,Graduate,No,4333,1811,160.0,360.0,0.0,Urban,Y
140,LP002053,Male,Yes,3+,Graduate,No,4342,189,124.0,360.0,1.0,Semiurban,Y
143,LP002065,Male,Yes,3+,Graduate,No,15000,0,300.0,360.0,1.0,Rural,Y
157,LP002113,Female,No,3+,Not Graduate,No,1830,0,NaN,360.0,0.0,Urban,N
159,LP002115,Male,Yes,3+,Not Graduate,No,2647,1587,173.0,360.0,1.0,Rural,N
161,LP002740,Male,Yes,3+,Graduate,No,6417,0,157.0,180.0,1.0,Rural,Y
179,LP002795,Male,Yes,3+,Graduate,Yes,10139,0,260.0,360.0,1.0,Semiurban,Y
189,LP002837,Male,Yes,3+,Graduate,No,3400,2500,123.0,360.0,0.0,Rural,N
190,LP002979,Male,Yes,3+,Graduate,No,4106,0,40.0,180.0,1.0,Rural,Y

In [11]:
df.query("Gender == 'Male'")

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,LP002836,Male,No,0,Graduate,No,3333,0,70.0,360.0,1.0,Urban,Y
189,LP002837,Male,Yes,3+,Graduate,No,3400,2500,123.0,360.0,0.0,Rural,N
190,LP002979,Male,Yes,3+,Graduate,No,4106,0,40.0,180.0,1.0,Rural,Y
191,LP002983,Male,Yes,1,Graduate,No,8072,240,253.0,360.0,1.0,Urban,Y
192,LP002984,Male,Yes,2,Graduate,No,7583,0,187.0,360.0,1.0,Urban,Y

In [8]:
#using query for multiple condition
df.query("Dependents == '3+' or Dependents == '0'")

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0,NaN,360.0,1.0,Urban,Y
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,LP002833,Male,Yes,0,Not Graduate,No,4467,0,120.0,360.0,NaN,Rural,Y
188,LP002836,Male,No,0,Graduate,No,3333,0,70.0,360.0,1.0,Urban,Y
189,LP002837,Male,Yes,3+,Graduate,No,3400,2500,123.0,360.0,0.0,Rural,N
190,LP002979,Male,Yes,3+,Graduate,No,4106,0,40.0,180.0,1.0,Rural,Y
193,LP002990,Female,No,0,Graduate,Yes,4583,0,133.0,360.0,0.0,Semiurban,N

In [9]:
#using isin function
df[df.Dependents.isin(['0','3+'])]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0,NaN,360.0,1.0,Urban,Y
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,LP002833,Male,Yes,0,Not Graduate,No,4467,0,120.0,360.0,NaN,Rural,Y
188,LP002836,Male,No,0,Graduate,No,3333,0,70.0,360.0,1.0,Urban,Y
189,LP002837,Male,Yes,3+,Graduate,No,3400,2500,123.0,360.0,0.0,Rural,N
190,LP002979,Male,Yes,3+,Graduate,No,4106,0,40.0,180.0,1.0,Rural,Y
193,LP002990,Female,No,0,Graduate,Yes,4583,0,133.0,360.0,0.0,Semiurban,N

In [13]:
#droping nan value
df.dropna(inplace=True)

In [16]:
#using contain function to find string
df[df.Gender.str.contains("Fe")]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
21,LP001222,Female,No,0,Graduate,No,4166,0,116.0,360.0,0.0,Semiurban,N
26,LP001241,Female,No,0,Graduate,No,4300,0,136.0,360.0,0.0,Semiurban,N
37,LP001265,Female,No,0,Graduate,No,3846,0,111.0,360.0,1.0,Semiurban,Y
39,LP001267,Female,Yes,2,Graduate,No,1378,1881,167.0,360.0,1.0,Urban,N
47,LP001327,Female,Yes,0,Graduate,No,2484,2302,137.0,360.0,1.0,Semiurban,Y
59,LP001404,Female,Yes,0,Graduate,No,3167,2283,154.0,360.0,1.0,Semiurban,Y
62,LP001422,Female,No,0,Graduate,No,10408,0,259.0,360.0,1.0,Urban,Y
64,LP001430,Female,No,0,Graduate,No,4166,0,44.0,360.0,1.0,Semiurban,Y
65,LP001431,Female,No,0,Graduate,No,2137,8980,137.0,360.0,0.0,Semiurban,Y
79,LP001489,Female,Yes,0,Graduate,No,4583,0,84.0,360.0,1.0,Rural,N
94,LP001577,Female,Yes,0,Graduate,No,4583,0,112.0,360.0,1.0,Rural,N
114,LP001692,Female,No,0,Not Graduate,No,4408,0,120.0,360.0,1.0,Semiurban,Y
115,LP001693,Female,No,0,Graduate,No,3244,0,80.0,360.0,1.0,Urban,Y
119,LP001708,Female,No,0,Graduate,No,10000,0,214.0,360.0,1.0,Semiurban,N
132,LP001870,Female,No,1,Graduate,No,3481,0,155.0,36.0,1.0,Semiurban,N
133,LP001871,Female,No,0,Graduate,No,7200,0,120.0,360.0,1.0,Rural,Y
147,LP002086,Female,Yes,0,Graduate,No,4333,2451,110.0,360.0,1.0,Urban,N
148,LP002087,Female,No,0,Graduate,No,2500,0,67.0,360.0,1.0,Urban,Y
158,LP002114,Female,No,0,Graduate,No,4160,0,71.0,360.0,1.0,Semiurban,Y
160,LP002116,Female,No,0,Graduate,No,2378,0,46.0,360.0,1.0,Rural,N
162,LP002741,Female,Yes,1,Graduate,No,4608,2845,140.0,180.0,1.0,Semiurban,Y
163,LP002743,Female,No,0,Graduate,No,2138,0,99.0,360.0,0.0,Semiurban,N
170,LP002776,Female,No,0,Graduate,No,5000,0,103.0,360.0,0.0,Semiurban,N
181,LP002804,Female,Yes,0,Graduate,No,4180,2306,182.0,360.0,1.0,Semiurban,Y
183,LP002813,Female,Yes,1,Graduate,Yes,19484,0,600.0,360.0,1.0,Semiurban,Y
193,LP002990,Female,No,0,Graduate,Yes,4583,0,133.0,360.0,0.0,Semiurban,N

In [12]:
df[df.Dependents.str.contains("1")]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128.0,360.0,1.0,Rural,N
15,LP001198,Male,Yes,1,Graduate,No,8080,2250,180.0,360.0,1.0,Urban,Y
24,LP001233,Male,Yes,1,Graduate,No,10750,0,312.0,360.0,1.0,Urban,Y
34,LP001259,Male,Yes,1,Graduate,Yes,1000,3022,110.0,360.0,1.0,Urban,N
58,LP001401,Male,Yes,1,Graduate,No,14583,0,185.0,180.0,1.0,Rural,Y
71,LP001451,Male,Yes,1,Graduate,Yes,10513,3850,160.0,180.0,0.0,Urban,N
85,LP001543,Male,Yes,1,Graduate,No,9538,0,187.0,360.0,1.0,Urban,Y
90,LP001565,Male,Yes,1,Graduate,No,3089,1280,121.0,360.0,0.0,Semiurban,N
106,LP001616,Male,Yes,1,Graduate,No,3750,0,116.0,360.0,1.0,Semiurban,Y
109,LP001674,Male,Yes,1,Not Graduate,No,2600,2500,90.0,360.0,1.0,Semiurban,Y
112,LP001688,Male,Yes,1,Not Graduate,No,3500,1083,135.0,360.0,1.0,Urban,Y
121,LP001713,Male,Yes,1,Graduate,Yes,7787,0,240.0,360.0,1.0,Urban,Y
132,LP001870,Female,No,1,Graduate,No,3481,0,155.0,36.0,1.0,Semiurban,N
144,LP002067,Male,Yes,1,Graduate,Yes,8666,4983,376.0,360.0,0.0,Rural,N
149,LP002097,Male,No,1,Graduate,No,4384,1793,117.0,360.0,1.0,Urban,Y
162,LP002741,Female,Yes,1,Graduate,No,4608,2845,140.0,180.0,1.0,Semiurban,Y
165,LP002755,Male,Yes,1,Not Graduate,No,2239,2524,128.0,360.0,1.0,Urban,Y
174,LP002785,Male,Yes,1,Graduate,No,3333,3250,158.0,360.0,1.0,Urban,Y
177,LP002792,Male,Yes,1,Graduate,No,5468,1032,26.0,360.0,1.0,Semiurban,Y
183,LP002813,Female,Yes,1,Graduate,Yes,19484,0,600.0,360.0,1.0,Semiurban,Y
191,LP002983,Male,Yes,1,Graduate,No,8072,240,253.0,360.0,1.0,Urban,Y